.header {
	display: flex;
	justify-content: space-between;
	background-color: #2874f0;
	color: #ffffff;
	padding: 10px;
	height: 40px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 9999;
}

.star {
	display: flex;
	width: 60%;
}
.cart {
	display: flex;
}
/* .notification {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
} */

.badge {
	position: absolute;
	right: -1px;
	padding: 5px 10px;
	border-radius: 60%;
	background-color: red;
	color: white;
	font-weight: bold;
}
