.search {
	display: flex;
	padding-top: 10px;
}
.searchImage {
	cursor: pointer;
	margin: 10px;
}
.input {
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid white;
	color: white;
}
::placeholder {
	color: white;
	font-size: 15px;
	font-weight: bold;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: white;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: white;
}
